.leaflet-popup-content {
  color: black !important;
  background: white;
}

.leaflet-popup-content button {
  display: inline-block !important;
  visibility: visible !important;
  opacity: 1 !important;

  padding: 6px 10px;
  border: 1px solid black;
  background: white;
  color: black;
  cursor: pointer;
}

body {
  /* font-family: "Inter", sans-serif; */
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}