.card {
    background: #238c3e;
    color: white;
    border-radius: 28px;
    padding: 22px 24px;
    margin-bottom: 28px;
}

.textRow {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-weight: 900;
}

.textRow p {
    margin: 0 0 8px;
    font-size: 15px;
}

