.navbar {
    font-family: sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 5px;
    background-color: rgb(162, 241, 162); 
    border-radius: 20px;
    margin-bottom: 20px;
}

.activeLink {
color: green;
font-weight: bold;
text-decoration: underline;
}